@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Group 6 is the best Group :D</h1>
    <p>Project Type: ASP-Core Web App</p>
    <br />
    <p>MVC Layout</p>
    <br />
    <h2  class="display-4">Mission Statement</h2>
    <p>We want to make an app that makes it extremely simple to learn Morse code through different types of prompts and visual cues. Morse code is an extremely 
    versatile form of communication with a wide range of potential uses. It can be used by people with limited mobility, as long as the user has the ability to operate a simple switch. 
    Morse code can also be useful to the general population in emergency situations where the power grid or cellular networks are disabled, as signalling can be achieved with nothing more 
    than a source of light. </p>
</div>
